body {
    background-color: #fadadd;
}
.Player{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
    text-align: center;
}




.Picture{
    text-align: center;
}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
    
}

.linkstitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: smaller;
    padding-top: 5 cm;

}

a {
    
    text-decoration: underline;
    color: gray;
}

.links {
    text-align: center;
}

.video {
    text-align: center;
}

.nav-item {
    text-align: center;
    list-style-type: none;
    top: 100px
}

.Subtitle {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.center {
    text-align: center;
}

.header {
    position: relative;
    top: 10px;
}
